@font-face {
    font-family: 'TT Chocolates';
    src: url('./TTChocolates-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'TT Chocolates';
    src: url('./TTChocolates-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
  }

  @font-face {
    font-family: 'TT Chocolates';
    src: url('./TTChocolates-Bold-Italic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
  }
  