<!-- eslint-disable @angular-eslint/template/eqeqeq -->
<div class="flex flex-col flex-auto min-w-0 sm:overflow-hidden bg-card dark:bg-transparent">
    <div class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-4 px-4 md:px-8 border-b">
        <div class="absolute inset-x-0 bottom-0" *ngIf="isLoading">
            <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
        </div>
        <div>
            <div class="text-2xl font-extrabold tracking-tight leading-none">Berkas&nbsp;Pengangkatan</div>
            <div class="ml-0.5 font-medium text-secondary">
                <ng-container *ngIf="pagination.recordsTotal > 0">{{pagination.recordsTotal | number}}&nbsp;Usulan
                </ng-container>
            </div>
        </div>
        <form [formGroup]="form">
            <div class="flex items-center mt-4 sm:mt-0 md:mt-4">

                <!-- <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript min-w-50">
                <mat-icon matPrefix [svgIcon]="'heroicons_outline:search'"></mat-icon>
                <input matInput [formControl]="searchInputControl" [autocomplete]="'off'" [placeholder]="'Cari Judul'">
                </mat-form-field> -->
                <div class="flex-auto ml-4">
                    <mat-form-field class="fuse-mat-no-subscript w-full min-w-50">
                        <!-- <mat-label>Jenis Usulan</mat-label> -->
                        <mat-select [formControlName]="'byJenisUsul'">
                            <mat-option value="">-- Semua Jenis Usulan --</mat-option>
                            <ng-container *ngFor="let item of jenisUsulan; trackBy: trackByFn">
                                <mat-option [value]="item.id">
                                    {{item.name}}
                                </mat-option>
                            </ng-container>
                        </mat-select>
                    </mat-form-field>
                </div>
                <button class="ml-4 bg-card hover:bg-hover" mat-stroked-button [color]="'primary'" (click)="toggleSearch()">
                    <span class="ml-2 mr-1">Cari</span>
                </button>
            </div>
        </form>
    </div>

    <!-- Main -->
    <div class="flex flex-auto overflow-hidden">

        <div class="flex flex-col flex-auto sm:mb-18 overflow-hidden sm:overflow-y-auto">
            <ng-container *ngIf="(items$ | async) as items">
                <ng-container *ngIf="items.length > 0; else noItems">
                    <div class="grid">
                        <!-- Header -->
                        <div class="item-grid z-10 sticky top-0 grid grid-flow-col auto-cols-max md:auto-cols-min grid-cols-12 gap-3 py-3 px-6 shadow text-md font-semibold text-secondary bg-gray-50 dark:bg-black dark:bg-opacity-5">
                            <!-- <div class="hidden md:block">#</div> -->
                            <div class="md:block col-span-8">Diusulkan oleh</div>
                            <div class="hidden md:block col-span-2">Jenis usulan</div>
                            <div class="hidden md:block col-span-1">Diusulkan pada</div>
                            <div class="hidden md:block col-span-1"></div>
                        </div>
                        <!-- Rows -->
                        <ng-container *ngIf="(items$ | async) as items">
                            <ng-container *ngFor="let item of items; trackBy: trackByFn">
                                <div class="item-grid grid grid-flow-col auto-cols-max md:auto-cols-min grid-cols-12 items-center gap-2 py-3 px-6 border-b">
                                    <div class="hidden md:block col-span-8">
                                        <div class="font-medium tracking-tight leading-6 truncate text-md">
                                            {{item.pns.nama | titlecase}}</div>
                                        <div class="text-secondary font-medium">
                                            <div class="flex flex-col sm:flex-row sm:items-center mt-2 sm:mt-1 sm:space-x-2 text-md leading-5">
                                                <div>{{item.pns.nip}}</div>
                                                <div class="hidden sm:block">&bull;</div>
                                                <div>{{item.pns.golonganNama}} - {{item.pns.jabatanNama}}</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="hidden md:block col-span-2">
                                        <div class="font-medium tracking-tight leading-6 truncate text-md">
                                            {{item.namaJenisUsul | titlecase}}</div>
                                        <span class="inline-flex items-center font-bold text-xs px-2.5 py-0.5 rounded-full tracking-wide" [ngClass]="{
                                            'bg-red-200 text-red-800 dark:bg-red-600 dark:text-red-50': item.actionName === 'DELETE',
                                            'bg-blue-200 text-blue-800 dark:bg-blue-600 dark:text-blue-50': item.actionName === 'EDIT',
                                            'bg-green-200 text-green-800 dark:bg-green-600 dark:text-green-50': item.actionName === 'ADD'}">
                                            <span
                                                class="leading-relaxed whitespace-nowrap">{{_action(item.actionName)}}</span>
                                        </span>
                                    </div>
                                    <div class="hidden md:block truncate text-sm col-span-1">
                                        {{item.createdDate | date:'d/M/yyyy h:mm'}}
                                    </div>
                                    <div class="hidden md:block col-span-1">
                                        <button class="min-w-10 min-h-7 h-7 px-2 leading-6" mat-stroked-button (click)="toggleDetails(item.id)">
                                            <mat-icon class="icon-size-5"
                                                [svgIcon]="selected?.id === item.id ? 'heroicons_solid:chevron-up' : 'heroicons_solid:chevron-down'">
                                            </mat-icon>
                                        </button>
                                    </div>
                                </div>
                                <div class="grid">
                                    <ng-container *ngIf="selected?.id === item.id">
                                        <ng-container *ngTemplateOutlet="rowDetailsTemplate; context: {$implicit: item}">
                                        </ng-container>
                                    </ng-container>
                                </div>
                            </ng-container>
                        </ng-container>
                    </div>

                    <mat-paginator class="sm:absolute sm:inset-x-0 sm:bottom-0 border-b sm:border-t sm:border-b-0 z-10 bg-gray-50 dark:bg-transparent" [ngClass]="{'pointer-events-none': isLoading}" [length]="pagination.recordsTotal" [pageIndex]="(pagination.draw)" [pageSize]="pagination.perPage"
                        [pageSizeOptions]="[10, 50, 100, 250, 500]" [showFirstLastButtons]="true" (page)="pageEvent($event)"></mat-paginator>

                </ng-container>
            </ng-container>

            <!-- DETAIL -->
            <ng-template #rowDetailsTemplate let-item>
                <ng-container *ngIf="selected">
                    <div class="shadow-lg overflow-hidden">
                        <div class="flex">
                            <div class="flex flex-col w-full">
                                <div class="flex flex-auto flex-wrap px-2">
                                    <div class="flex flex-col w-full lg:w-3/4">
                                        <ng-container *ngIf="selected.actionName === 'EDIT'">
                                            <div class="grid grid-cols-12 gap-x-1 py-5 px-4">
                                                <div class="col-span-4 text-sm"></div>
                                                <div class="col-span-4 text-sm font-semibold">Data semula</div>
                                                <div class="col-span-4 text-sm font-semibold">Data menjadi</div>
                                                <div class="col-span-12 my-2 border-b"></div>
                                                <ng-container *ngFor="let element of selected.payload">
                                                    <div class="col-span-4 text-sm">{{element.keyLabel}}</div>
                                                    <div class="col-span-4 text-sm">{{element.before}}</div>
                                                    <div class="col-span-4 text-sm">{{element.after}}</div>
                                                    <div class="col-span-12 my-2 border-b"></div>
                                                </ng-container>
                                            </div>
                                        </ng-container>
                                        <ng-container *ngIf="selected.actionName === 'ADD'">
                                            <div class="grid grid-cols-12 gap-x-1 py-5 px-4">
                                                <div class="col-span-4 text-sm"></div>
                                                <div class="col-span-4 text-sm font-semibold">Data yang ditambahkan
                                                </div>
                                                <div class="col-span-12 my-2 border-b"></div>
                                                <ng-container *ngFor="let element of selected.payload">
                                                    <div class="col-span-4 text-sm">{{element.keyLabel}}</div>
                                                    <div class="col-span-4 text-sm">{{element.after}}</div>
                                                    <div class="col-span-12 my-2 border-b"></div>
                                                </ng-container>
                                            </div>
                                        </ng-container>
                                        <ng-container *ngIf="selected.actionName === 'DELETE'">
                                            <div class="grid grid-cols-12 gap-x-1 py-5 px-4">
                                                <div class="col-span-4 text-sm"></div>
                                                <div class="col-span-4 text-sm font-semibold">Data yang dihapus</div>
                                                <div class="col-span-12 my-2 border-b"></div>
                                                <ng-container *ngFor="let element of selected.payload">
                                                    <div class="col-span-4 text-sm">{{element.keyLabel}}</div>
                                                    <div class="col-span-4 text-sm">{{element.before}}</div>
                                                    <div class="col-span-12 my-2 border-b"></div>
                                                </ng-container>
                                            </div>
                                        </ng-container>

                                    </div>
                                    <div class="flex flex-col w-full lg:w-1/4">
                                        <div class="my-3">
                                            <h3 class="mb-2">Lampiran dokumen :</h3>
                                            <div class="text-secondary font-medium mb-2">
                                                <div class="flex flex-col sm:flex-row sm:items-center mt-2 sm:mt-1 sm:space-x-2 text-md leading-5">
                                                    <div class="flex items-center">
                                                        <mat-icon class="icon-size-5 text-hint" svgIcon="attach_file">
                                                        </mat-icon>
                                                        <button (click)="togglePrint(selected.dokumenId)" class="ml-1.5 text-sm underline">Dokumen</button>
                                                    </div>
                                                </div>
                                            </div>
                                            <mat-form-field class="fuse-mat-no-subscript w-full mt-4">
                                                <mat-label>Catatan hasil verifikasi</mat-label>
                                                <textarea matInput [(ngModel)]="message" [autocomplete]="'off'" [placeholder]="'Jelaskan alasan jika menolak'"></textarea>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="flex items-center justify-end w-full border-t px-8 py-4">
                            <button mat-button [color]="'warn'" (click)="openConfirmationDialog(false, selected.id)" class="mr-4">Tolak</button>
                            <button mat-flat-button [color]="'primary'" (click)="openConfirmationDialog(true, selected.id)">Setuju</button>
                        </div>
                    </div>
                </ng-container>
            </ng-template>
            <ng-template #noItems>
                <fuse-alert [type]="'info'">
                    <span fuseAlertTitle>Usulan perubahan data tidak ditemukan!</span>
                </fuse-alert>
            </ng-template>
        </div>
    </div>
</div>