<div class="flex flex-col flex-auto md:w-220 md:min-w-220 max-h-160 -m-6 overflow-y-auto">
    <div class="flex flex-0 items-center justify-between h-16 pr-3 sm:pr-5 pl-6 sm:pl-8 bg-primary text-on-primary">
        <div class="text-lg font-medium">Penolakan Hasil Persetujuan KEMENPAN</div>
        <button mat-icon-button (click)="matDialogRef.close()" [tabIndex]="-1">
            <mat-icon class="text-current" [svgIcon]="'heroicons_outline:x'"></mat-icon>
        </button>
    </div>

    <!-- Card form -->
    <div class="flex flex-auto flex-wrap w-full p-6 space-y-1 overflow-y-auto">
        <div class="flex flex-col w-full">
            <fuse-alert [type]="'info'" class="py-3">
                <span fuseAlertTitle>Permintaan revisi jumlah formasi</span>
            </fuse-alert>
            <div class="px-4">
                <formly-form [model]="model" [fields]="fields" [options]="options" [form]="formFormasi">
                </formly-form>
            </div>
        </div>
    </div>

    <div class="flex items-center justify-end border-t px-8 py-5 bg-gray-50 dark:bg-gray-700">
        <button mat-button (click)="matDialogRef.close()">
            Batal
        </button>
        <button mat-flat-button [color]="'primary'" class="ml-4" (click)="send()">
            Submit
        </button>
    </div>
</div>
