<div class="flex flex-col flex-auto max-h-160 -m-6 overflow-y-auto">
    <div class="flex flex-0 items-center justify-between h-16 pr-3 sm:pr-5 pl-6 sm:pl-8 bg-primary text-on-primary">
        <div class="text-lg font-medium">{{_data.activity?.id ? 'Ubah' : 'Tambah'}} Bagi Url</div>
        <button mat-icon-button (click)="matDialogRef.close()" [tabIndex]="-1">
            <mat-icon class="text-current" [svgIcon]="'heroicons_outline:x'"></mat-icon>
        </button>
    </div>

    <!-- Card form -->
    <form class="flex flex-auto flex-wrap w-full p-6 space-y-1 overflow-y-auto" [formGroup]="form">
        <div class="flex flex-col w-full">
            <div class="mt-4 flex items-center">
                <mat-form-field class="fuse-mat-no-subscript w-full">
                    <mat-label>Keterangan</mat-label>
                    <input matInput [formControlName]="'description'" [spellcheck]="false">
                </mat-form-field>
            </div>
            <div class="mt-4 flex items-center">
                <mat-form-field class="fuse-mat-no-subscript w-full">
                    <mat-label>Url</mat-label>
                    <input matInput [formControlName]="'link'" [spellcheck]="false">
                </mat-form-field>
            </div>
        </div>
    </form>

    <div class="flex items-center justify-end border-t px-8 py-5 bg-gray-50 dark:bg-gray-700">
        <button mat-button (click)="matDialogRef.close()">
            Batal
        </button>
        <button mat-flat-button [color]="'primary'" class="ml-4" [disabled]="form.invalid" (click)="create()">
            Submit
        </button>
    </div>
</div>
