<div class="flex flex-col flex-auto md:w-220 md:min-w-220 max-h-160 -m-6 overflow-y-auto">
    <div class="flex flex-0 items-center justify-between h-16 pr-3 sm:pr-5 pl-6 sm:pl-8 bg-primary text-on-primary">
        <div class="text-lg font-medium">Tambah Diklat & Kursus</div>
        <button mat-icon-button (click)="matDialogRef.close()" [tabIndex]="-1">
            <mat-icon class="text-current" [svgIcon]="'heroicons_outline:x'"></mat-icon>
        </button>
    </div>

    <!-- Card form -->
    <form class="flex flex-auto flex-wrap w-full p-6 space-y-1 overflow-y-auto" [formGroup]="form">
        <div class="flex flex-col w-full">
            <div class="mt-4">
                <mat-form-field class="fuse-mat-no-subscript w-full" style="min-width: 30rem !important;">
                    <mat-label>Jenis Kegiatan</mat-label>
                    <mat-select [formControlName]="'jenisKegiatan'">
                        <mat-option *ngFor="let item of jenisKegiatanList" [value]="item.id">{{item.name}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <ng-container *ngIf="kategoriDiklat.length">
                <div class="mt-4">
                    <mat-form-field class="fuse-mat-no-subscript w-full" style="min-width: 30rem !important;">
                        <mat-label>Kelompok</mat-label>
                        <mat-select [formControlName]="'courseGroupId'">
                            <mat-option *ngFor="let item of kategoriDiklat" [value]="item.id">{{item.nama}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </ng-container>
            <div class="mt-4">
                <mat-form-field class="fuse-mat-no-subscript w-full">
                    <mat-label>Tema</mat-label>
                    <mat-select [formControlName]="'courseTopicId'">
                        <mat-option *ngFor="let item of topicDiklatList$ | async" [value]="item.id">{{item.nama}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="mt-4 flex items-center">
                <mat-form-field class="fuse-mat-no-subscript w-full">
                    <mat-label>Nama</mat-label>
                    <input matInput [formControlName]="'title'" [spellcheck]="false">
                </mat-form-field>
            </div>
            <div class="mt-4">
                <mat-form-field class="fuse-mat-textarea w-full">
                    <mat-label>Deskripsi</mat-label>
                    <textarea matInput [rows]="3" [formControlName]="'summary'" [spellcheck]="false"></textarea>
                </mat-form-field>
            </div>
            <div class="mt-4 flex items-center">
                <mat-form-field class="fuse-mat-no-subscript w-full">
                    <mat-label>Jadwal</mat-label>
                    <mat-date-range-input [rangePicker]="_tglMulaiAkhir" [min]="this._helperService.maxDate()">
                        <input matStartDate formControlName="startDate" placeholder="Mulai" (focus)="_tglMulaiAkhir.open()">
                        <input matEndDate formControlName="endDate" placeholder="Akhir" (focus)="_tglMulaiAkhir.open()">
                    </mat-date-range-input>
                    <mat-datepicker-toggle matSuffix [for]="_tglMulaiAkhir"></mat-datepicker-toggle>
                    <mat-date-range-picker #_tglMulaiAkhir></mat-date-range-picker>
                </mat-form-field>
            </div>
            <div class="mt-4 flex items-center">
                <div class="fuse-mat-no-subscript w-full">
                    <mat-label>Poster <i>(Gambar JPG / PNG, Maksimal ukuran 2 MB)</i></mat-label>
                    <div class="relative flex items-center justify-center w-32 h-32 rounded overflow-hidden ring-4 ring-bg-card mt-2">
                        <div class="absolute inset-0 bg-black bg-opacity-50 z-10"></div>
                        <div class="absolute inset-0 flex items-center justify-center z-20">
                            <div>
                                <input id="avatar-file-input" class="absolute h-0 w-0 opacity-0 invisible pointer-events-none" type="file" [multiple]="false" [accept]="'image/jpeg, image/png'" (change)="onFileInput($event, 'coverImage')" #avatarFileInput>
                                <label class="flex items-center justify-center w-10 h-10 rounded-full cursor-pointer hover:bg-hover" for="avatar-file-input" matRipple>
                                    <mat-icon class="text-white" [svgIcon]="'heroicons_outline:camera'"></mat-icon>
                                </label>
                            </div>
                            <div>
                                <button mat-icon-button (click)="clearFileInput('coverImage')">
                                <mat-icon class="text-white" [svgIcon]="'heroicons_outline:trash'"></mat-icon></button>
                            </div>
                        </div>
                        <img [id]="'coverImage'" class="object-cover" style="max-width: 480px;" [src]="'assets/images/no_image.png'">
                    </div>
                </div>
            </div>
        </div>
    </form>

    <div class="flex items-center justify-end border-t px-8 py-5 bg-gray-50 dark:bg-gray-700">
        <button mat-button (click)="matDialogRef.close()">
            Batal
        </button>
        <button mat-flat-button [color]="'primary'" class="ml-4" [disabled]="form.invalid" (click)="create()">
            Submit
        </button>
    </div>
</div>