<!-- Preview Sertifikat -->
<div class="certificate-preview-wrapper">
  <div class="certificate-bg preview-mode" #certificateContainer *ngIf="certificate">
    <img src="assets/images/sertifikat-bg.png" alt="Sertifikat" />
    <div class="certificate-content">
      <div class="nomor-sertifikat">No: {{ certificate.certificateNumber }}</div>
      <div class="nama">{{ certificate.nama }}</div>
      <div class="peserta">atas partisipasinya sebagai Peserta</div>
      <div class="judul">{{ certificate.titleCertificate }}</div>
      <div class="subjudul">"{{ certificate.subtitleCertificate }}"</div>
      <div class="keterangan">
        yang diselenggarakan pada {{ formatDate(certificate.dateCertificate) }} di {{ certificate.placeCertificate }} meliputi {{ certificate.studyHours }} Jam Pelajaran
      </div>
    </div>
  </div>
  <button mat-flat-button color="primary" (click)="downloadPDF()" *ngIf="certificate" class="mt-4">Download PDF</button>
</div>

<!-- Hidden area untuk download PDF dengan ukuran asli -->
<div #hiddenCertificate style="position: absolute; left: -99999px;" *ngIf="certificate">
  <div class="certificate-bg download-mode">
    <img src="assets/images/sertifikat-bg.png" alt="Sertifikat" />
    <div class="certificate-content">
        <div class="nomor-sertifikat">No: {{ certificate.certificateNumber }}</div>
        <div class="nama">{{ certificate.nama }}</div>
        <div class="peserta">atas partisipasinya sebagai Peserta</div>
        <div class="judul">{{ certificate.titleCertificate }}</div>
        <div class="subjudul">"{{ certificate.subtitleCertificate }}"</div>
        <div class="keterangan">
          yang diselenggarakan pada {{ formatDate(certificate.dateCertificate) }} di {{ certificate.placeCertificate }} meliputi {{ certificate.studyHours }} Jam Pelajaran
        </div>
    </div>
  </div>
</div>
  