<!-- Preview Sertifikat -->
<div class="certificate-preview-wrapper">
  <button class="ml-4 mt-5" mat-flat-button [color]="'primary'" (click)="downloadPDF()" *ngIf="certificate" style="background-color: #ea3232; color: white; border-radius: 25px; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); transition: transform 0.2s ease-in-out, box-shadow 0.3s ease-in-out;">
    <span class="ml-2 mr-1">Download Sertifikat (PDF)</span>
  </button>
  <div class="certificate-bg preview-mode" #certificateContainer *ngIf="certificate">
    <img src="assets/images/sertifikat-bg.png" alt="Sertifikat" />
    <div class="certificate-content">
      <div class="nomor-sertifikat">No: {{ certificate.certificateNumber }}</div>
      <div class="nama" [ngClass]="{'small-font': certificate.nama.length > 25, 'smallest-font': certificate.nama.length > 35}">{{ certificate.nama }}</div>
      <div class="peserta">atas partisipasinya sebagai Peserta</div>
      <div class="judul">{{ certificate.titleCertificate }}</div>
      <div class="subjudul">"{{ certificate.subtitleCertificate }}"</div>
      <div class="keterangan">
        yang diselenggarakan pada {{ formatDate(certificate.dateCertificate) }} di {{ certificate.placeCertificate }} meliputi {{ certificate.studyHours }} Jam Pelajaran
      </div>
    </div>
  </div>
</div>

<!-- Hidden area untuk download PDF dengan ukuran asli -->
<div #hiddenCertificate style="position: absolute; left: -99999px;" *ngIf="certificate">
  <div class="certificate-bg download-mode">
    <img src="assets/images/sertifikat-bg.png" alt="Sertifikat" />
    <div class="certificate-content">
        <div class="nomor-sertifikat">No: {{ certificate.certificateNumber }}</div>
        <div class="nama" [ngClass]="{'small-font': certificate.nama.length > 25, 'smallest-font': certificate.nama.length > 35}">{{ certificate.nama }}</div>
        <div class="peserta">atas partisipasinya sebagai Peserta</div>
        <div class="judul">{{ certificate.titleCertificate }}</div>
        <div class="subjudul">"{{ certificate.subtitleCertificate }}"</div>
        <div class="keterangan">
          yang diselenggarakan pada {{ formatDate(certificate.dateCertificate) }} di {{ certificate.placeCertificate }} meliputi {{ certificate.studyHours }} Jam Pelajaran
        </div>
    </div>
  </div>
</div>
  