<ng-container *ngIf="items.length">
    <div class="shadow-lg overflow-hidden">
        <div class="flex">
            <div class="flex flex-auto flex-wrap">
                <div class="flex flex-col w-full lg:w-3/4 sm:pl-8">
                    <div class="mt-2">
                        <ol>
                            <ng-container *ngFor="let item of items; let i = index; let first = first; let last = last; trackBy: trackByFn">
                                <li class="relative flex py-2">
                                    <ng-container *ngIf="i === 0">
                                        <div class="absolute top-7 left-5 w-0.5 h-full -ml-px bg-gray-200 dark:bg-gray-600">
                                        </div>
                                    </ng-container>
                                    <div class="relative flex flex-auto">
                                        <div class="flex shrink-0 items-center justify-center w-10 h-10 mr-4 rounded-full bg-green-200">
                                            <mat-icon svgIcon="heroicons_outline:check"></mat-icon>
                                        </div>
                                        <div class="flex flex-col flex-auto items-start">
                                            <div class="flex flex-col sm:flex-row sm:items-center mt-2 sm:mt-1 sm:space-x-2 text-md leading-5">
                                                <div class="font-medium text-md">{{item.messageEvent}}</div>
                                            </div>
                                            <div class="flex flex-col sm:flex-row sm:items-center mt-2 sm:mt-1 sm:space-x-2 text-md leading-5">
                                                <div class="text-secondary">{{item.createdDate}}</div>
                                            </div>

                                            <ng-container *ngIf="item.eventType === 'USUL_CREATED'">
                                                <div class="flex flex-col w-full">
                                                    <div class="grid grid-cols-12 gap-x-1 py-5 px-4">
                                                        <div class="col-span-4 text-sm font-semibold">Data</div>  
                                                        <div class="col-span-4 text-sm font-semibold">Data semula</div>
                                                        <div class="col-span-4 text-sm font-semibold">Data menjadi</div>
                                                        <div class="col-span-12 my-2 border-b"></div>
                                                        <ng-container *ngFor="let element of item.payload">
                                                            <div class="col-span-4 text-sm">{{element.keyLabel}}</div>
                                                            <div class="col-span-4 text-sm">{{element.before}}</div>
                                                            <div class="col-span-4 text-sm">{{element.after}}</div>
                                                            <div class="col-span-12 my-2 border-b"></div>
                                                        </ng-container>
                                                    </div>
                                                </div>
                                            </ng-container>
                                        </div>
                                    </div>
                                </li>
                            </ng-container>
                        </ol>
                    </div>
                </div>
                <div class="flex flex-col w-full lg:w-1/4"></div>
            </div>
        </div>
    </div>
</ng-container>
<ng-container *ngIf="!items.length">
    <fuse-alert [type]="'info'">
        <span fuseAlertTitle>Belum ada data riwayat usulan</span>
    </fuse-alert>
</ng-container>
