<div class="flex flex-col w-full">

    <!-- View mode -->
    <ng-container *ngIf="!editMode">

        <!-- Header -->
        <div class="relative w-full h-16 sm:h-16 px-8 sm:px-10 dark bg-gray-900">
            <img class="absolute inset-0 object-cover w-full h-full" src="/assets/images/bg-header.png">
            <div class="flex items-center justify-end w-full max-w-3xl mx-auto pt-4">
                <button mat-icon-button [matTooltip]="'Tutup'" [routerLink]="['../']">
                    <mat-icon class="text-white" [svgIcon]="'heroicons_outline:x'"></mat-icon>
                </button>
            </div>
        </div>

        <!-- Contact -->
        <div class="relative flex flex-col flex-auto items-center p-6 pt-0 sm:p-12 sm:pt-0">
            <div class="w-full max-w-3xl">

                <div class="flex flex-auto items-end mt-5">
                    <div class="flex items-center ml-auto mb-1">
                        <button mat-stroked-button (click)="toggleDeleteMode(selected.id)" class="mr-3">
                            <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:trash'"></mat-icon>
                            <span class="ml-2">Hapus</span>
                        </button>
                        <button mat-flat-button (click)="toggleChangePassword(selected)">
                            <span class="ml-2 mr-2">Ubah Password</span>
                        </button>
                        <button mat-flat-button (click)="toggleResetPassword(selected)">
                            <span class="ml-2 mr-2">Reset Password</span>
                        </button>
                        <button mat-stroked-button (click)="toggleEditMode(true)">
                            <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:pencil-alt'"></mat-icon>
                            <span class="ml-2">Edit</span>
                        </button>
                    </div>
                </div>
                <div class="mt-3 text-3xl font-bold truncate">{{selected.nama | titlecase}}</div>

                <div class="flex flex-wrap justify-between items-center mt-2">
                    <div
                        class="flex items-center justify-center py-1 px-3 mr-3 mb-3 rounded-full leading-normal text-gray-500 bg-gray-100 dark:text-gray-300 dark:bg-gray-700">
<span class="text-sm font-medium whitespace-nowrap">
    {{
    selected.roles[0] === 'ROLE_USER' ? 'Role Penerjemah' :
    selected.roles[0] === 'ROLE_ADMIN_KEPEGAWAIAN_INSTANSI' ? 'Role Kepegawaian' :
    selected.roles[0] === 'ROLE_PEMBINA_JFP' ? 'Role Pengajar' :
    selected.roles[0] === 'ROLE_INSTRUKTUR' ? 'Role Asesor' :
    (selected.roles[0] | replace: '_' : ' ' | titlecase)
    }}
</span>
                    </div>
                    <span class="flex items-center justify-center py-1 px-3 mr-3 mb-3 rounded-full leading-normal" [ngClass]="{
                        'bg-red-200 text-red-800 dark:bg-red-600 dark:text-red-50': selected.kategori === 'nonaktif',
                        'bg-yellow-200 text-yellow-800 dark:bg-yellow-600 dark:text-yellow-50': selected.kategori === 'inaktif',
                        'bg-green-200 text-green-800 dark:bg-green-600 dark:text-green-50': selected.kategori === 'aktif'
                    }">
                        <span class="text-sm font-medium whitespace-nowrap">{{ selected.kategori| titlecase |replace: '_' : ' ' }}</span>
                    </span>
                </div>

                <div class="flex flex-col mt-4 pt-6 border-t space-y-8">
                    <div class="grid grid-cols-1">
                        <div class="flex items-center">
                            <div class="font-medium text-secondary leading-5 my-1">Username</div>
                        </div>
                        <div class="flex items-start my-1">
                            <div class="font-bold tracking-tight leading-none">
                                {{selected.username}}</div>
                        </div>
                    </div>
                    <div class="grid grid-cols-1">
                        <div class="flex items-center">
                            <div class="font-medium text-secondary leading-5 my-1">NIP</div>
                        </div>
                        <div class="flex items-start my-1">
                            <div class="font-bold tracking-tight leading-none">
                                {{selected.nip}}</div>
                        </div>
                    </div>
                    <ng-container *ngIf="selected.instansiNama">
                        <div class="grid grid-cols-1">
                            <div class="flex items-center">
                                <div class="font-medium text-secondary leading-5 my-1">Instansi</div>
                            </div>
                            <div class="flex items-start my-1">
                                <div class="font-bold tracking-tight leading-none">
                                    {{selected.rwinstansi.namaInstansi| titlecase}}</div>
                            </div>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="selected.instansiunitkerja">
                        <div class="grid grid-cols-1">
                            <div class="flex items-center">
                                <div class="font-medium text-secondary leading-5 my-1">Unit Kerja</div>
                            </div>
                            <div class="flex items-start my-1">
                                <div class="font-bold tracking-tight leading-none">
                                    {{selected.rwinstansi.unitkerja| titlecase}}</div>
                            </div>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="selected.instansiunitkerja">
                        <div class="grid grid-cols-1">
                            <div class="flex items-center">
                                <div class="font-medium text-secondary leading-5 my-1">Satuan Organisasi</div>
                            </div>
                            <div class="flex items-start my-1">
                                <div class="font-bold tracking-tight leading-none">
                                    {{selected.rwinstansi.satuanorganisasi| titlecase}}</div>
                            </div>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="selected.jabatanNama">
                        <div class="grid grid-cols-1">
                            <div class="flex items-center">
                                <div class="font-medium text-secondary leading-5 my-1">Jabatan</div>
                            </div>
                            <div class="flex items-start my-1">
                                <div class="font-bold tracking-tight leading-none">
                                    {{selected.jabatanNama | titlecase}}</div>
                            </div>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="selected.satuanorganisasi">
                        <div class="grid grid-cols-1">
                            <div class="flex items-center">
                                <div class="font-medium text-secondary leading-5 my-1">Jabatan</div>
                            </div>
                            <div class="flex items-start my-1">
                                <div class="font-bold tracking-tight leading-none">
                                    {{selected.satuanorganisasi | titlecase}}</div>
                            </div>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="selected.unitkerja">
                        <div class="grid grid-cols-1">
                            <div class="flex items-center">
                                <div class="font-medium text-secondary leading-5 my-1">Jabatan</div>
                            </div>
                            <div class="flex items-start my-1">
                                <div class="font-bold tracking-tight leading-none">
                                    {{selected.unitkerja | titlecase}}</div>
                            </div>
                        </div>
                    </ng-container>
                </div>

            </div>
        </div>
    </ng-container>

    <ng-container *ngIf="editMode">
        <div class="relative w-full h-20 sm:h-20 px-8 sm:px-12 dark bg-gray-900">
            <div class="flex items-center justify-end w-full max-w-3xl mx-auto pt-6">
                <button mat-icon-button [matTooltip]="'Close'" [routerLink]="['../']">
                    <mat-icon class="text-white" [svgIcon]="'heroicons_outline:x'"></mat-icon>
                </button>
            </div>
        </div>

        <div class="relative flex flex-col flex-auto items-center px-6 sm:px-12">
            <div class="w-full max-w-3xl">
                <form [formGroup]="form">

                    <div class="mt-4">
                        <mat-form-field class="fuse-mat-no-subscript w-full">
                            <mat-label>Nama Lengkap</mat-label>
                            <input matInput [formControlName]="'name'" [placeholder]="'Nama Lengkap'">
                        </mat-form-field>
                    </div>
                    <div class="mt-4">
                        <mat-form-field class="fuse-mat-no-subscript w-full">
                            <mat-label>NIP / NIK (digunakan sebagai username login)</mat-label>
                            <input matInput [formControlName]="'nip'" [dropSpecialCharacters]="true"
                                mask="999999999999999999">
                        </mat-form-field>
                    </div>
                    <div class="mt-4">
                        <mat-form-field class="fuse-mat-no-subscript w-full">
                            <mat-label>Email</mat-label>
                            <input matInput [formControlName]="'email'">
                        </mat-form-field>
                    </div>
                    <div class="mt-4">
                        <mat-form-field class="fuse-mat-no-subscript w-full">
                            <mat-label>Role / Peran</mat-label>
                            <mat-select [formControlName]="'roles'">
                                <mat-option *ngFor="let item of roles$ | async" [value]="item">{{item | replace:'_':' '
                                    | titlecase}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <!-- <div class="mt-4">
                        <mat-form-field class="fuse-mat-no-subscript w-full">
                            <mat-label>Instansi</mat-label>
                            <input matInput [formControlName]="'namaInstansi'">
                        </mat-form-field>
                    </div> -->
                    <!-- <div class="mt-4">
                        <mat-form-field class="fuse-mat-no-subscript w-full">
                            <mat-label>Jabatan</mat-label>
                            <input matInput [formControlName]="'jabatanNama'">
                        </mat-form-field>
                    </div> -->
                    <!-- <div class="mt-4">
                        <mat-form-field class="fuse-mat-no-subscript w-full">
                            <mat-label>Satuan Organisasi</mat-label>
                            <input matInput [formControlName]="'satuanorganisasi'">
                        </mat-form-field>
                    </div> -->
                    <!-- <div class="mt-4">
                        <mat-form-field class="fuse-mat-no-subscript w-full">
                            <mat-label>Unit Kerja</mat-label>
                            <input matInput [formControlName]="'unitkerja'">
                        </mat-form-field>
                    </div> -->
                    <div class="mt-4">
                        <mat-form-field class="fuse-mat-no-subscript w-full">
                            <mat-label>Kategori Penerjemah</mat-label>
                            <mat-select [formControlName]="'kategori'">
                                <mat-option value="aktif">Aktif</mat-option>
                                <mat-option value="inaktif">Inaktif</mat-option>
                                <mat-option value="non_Aktif">Non Aktif</mat-option>
                            </mat-select>
                            <mat-error *ngIf="form.controls['kategori'].hasError('required')">
                                Kategori Penerjemah harus dipilih.
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div
                        class="flex items-center mt-10 -mx-6 sm:-mx-12 py-4 pr-4 pl-1 sm:pr-12 sm:pl-7 border-t bg-gray-50 dark:bg-transparent">
                        <button mat-button [color]="'warn'" [matTooltip]="'Delete'" (click)="delete()">
                            Hapus
                        </button>
                        <button class="ml-auto" mat-button [matTooltip]="'Cancel'" (click)="toggleEditMode(false)">
                            Batal
                        </button>
                        <button class="ml-2" mat-flat-button [color]="'primary'" [disabled]="form.invalid"
                            [matTooltip]="'Save'" (click)="update()">
                            Simpan
                        </button>
                    </div>

                </form>
                <!-- Untuk Debugging -->
                <!-- <div class="mt-4">
                    <pre>Form Valid: {{ form.valid }}</pre>
                    <pre>Form Values: {{ form.value | json }}</pre>
                </div> --> 
            </div>
        </div>
    </ng-container>
</div>
